/* .cover-uploader,
.cover-uploader-trigger{
    height: 120px;
    width: 160px;
}

.cover-uploader{
    display: block;
    border: 1px dashed #d9d9d9;
    border-radius: 6px;
    cursor: pointer;
} */

/* .cover-uploader-trigger{
    display: table-cell;
    vertical-align: middle;
    font-size: 28px;
    color: #999;
    
} */

/* .ant-upload-text{
    font-size: 28px;
    color: #666;
} */

.ant-upload-select-picture-card i {
    font-size: 28px;
    color: #999;
}
  
/* .ant-upload-select-picture-card .ant-upload-text {
    margin-top: 8px;
    font-size: 12px;
    color: #666;
} */