.register-card-background {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    height:100%;
    background: #F2F2F2;
}
.register-card {
    margin-top: 32px;
    width:400px;
}
.register-card .ant-card-body {
    padding:24px 16px 24px 16px
}
.register-card .register-card-title{
    display: flex;
    flex-direction: row;
    justify-content: center;
    font-family: 'PingFangSC-Semibold', 'PingFang SC Semibold', 'PingFang SC';
    font-weight: 600;
    font-style: normal;
    font-size: 28px;
    color: #666666;
}
.register-card .register-card-form{
    width:80px;
    display: flex;
    flex-direction: column; 
    
}

.register-card .register-card-form {
    margin:24px 0 24px 0;
}
.register-card .ant-form-item {
    margin-bottom: 16px;
    display:flex;
    justify-content: center;
    width:320px;
}
.register-card .register-form-footer {
    display:flex;
    justify-content: center;
  }
.register-form-button {
    width:80px;
}
.register-card-form .ant-form-item-label label{
    color:#666666;
  }
  